<div class-="row">
    <div class="col-sm-6">
    <%= form_for [@community, @post] do |p| %>

    <div class="form-group">
        <%= label_tag :title %>
        <%= p.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= label_tag :body %>
        <%= p.text_area :body, class: "form-control" %>
    </div>


    <%= p.submit "Submit", class: "btn btn-primary" %>
    <%end%>

    </div>
</div>