<% posts.each do |post|%>
    <div class="card p-3 mb-3">
        <div class="row">
            <div class="col-1 text-center">
                <div class="fa fa-arrow-up upvote"></div>
                <span class="font-weight-bold">0</span>
                <div class="fa fa-arrow-down downvote"></div>

            </div>
            <div class="col-11">
                    <h4 class="mb-1"><%= link_to post.title, community_post_path(post.community_id, post)%></h4>
                    <p><small><%= link_to post.community.name, community_path(post.community)  %> Posted by <%= link_to post.account.full_name, profile_path(post.account.username) %>, <%= time_ago_in_words post.created_at %> ago. </small></p>
                    <p> <%= truncate post.body, length: 200 %></p>
                 </div>  
            </div>
        </div>
   
 <%end%>   