.upvote,
.downvote {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    &.active {
        color: #b35f5f;
    }
    &:hover {
        color: #b35f5f;
        cursor: pointer;
    }
}