    <% unless account_signed_in? %>

    <div class="row">
        <div class="col">
            <p class="h5">Trending Today</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Trending 1
        </div>
    
        <div class="col-sm-3">
            Trending 2
        </div>
    
        <div class="col-sm-3">
            Trending 3
        </div>

        <div class="col-sm-3">
            Trending 4
        </div>
    </div>
    <%end%>

    <div class="row">
        <div class="col">
            <p class="h4">Popular posts</p>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
             <%= render partial: "posts/list", locals: { posts: @posts }%>
        </div>
     
        <div class="col-4">
            <p class="h5 mb-4">Up and comming Communities</p>
            <ul class="list-group">
            <% @communities.each do |community|%>
                <li class="list-group-item"><%= link_to community.name, community_path(community)  %></li>
            <%end%>
            </ul>
            <%= link_to  "View all", communities_path, class: "btn btn-primary mt-3" %>
        </div>
        
    </div>
