<div class="row">
    <div class="col-sm-8">
    <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div class="col-sm-4">
       <p class="h4"> <%= @profile.full_name %></p>
        <p><%= @profile.username %></p>
        <p>a very good bio...Lorem ipsum lorem ipsum yan the male thoe coe fod de soor er moa r</p>
        <p>Cake Day: <%= @profile.created_at.strftime("%d/%m/%Y") %></p>

    </div>
</div>